---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="loader">
		<div class="loader__inside"></div>
	</div>
	<!-- begin header  -->
	<header class="header">
		<div class="container">
			<div class="header__left">
				<div class="logo">
					<div class="logo__sp">SP</div>
					<div class="logo__text">SpacePlatforms</div>
				</div>
			</div>
			
			<div class="header__right">
				<nav class="nav">
					<a class="is-active" href="#">Home</a>
					<a href="#">Missions</a>
					<a href="#">Research</a>
					<a href="#">Explorers</a>
					<a href="#">Our philosophy</a>
				</nav>
				<button class="explore">
					Explore SP
					<span class="expore__icon"></span>
				</button>
			</div>
		</div>
	</header>
	<!-- end header -->
	<!-- begin hero  -->
	<div class="hero">
		<h2 class="hero__title js-splitme">SPACE <em>EXP</em>LORATION</h2>
		<p>Space exploration is the ongoing discovery and exploration
of celestial structures in outer space</p>
		<div class="hero__action">
			<a href="#" class="hero__start">START EXPLORING</a>
		</div>
	</div>
	<!-- end hero -->
	
	<div class="analytics">
		<div class="container">
			<h2>ANALYTICS</h2>
			<h3>You should take a quick look at our data</h3>
			<p>We want to show you how the process works.
Display data for:</p>

			<div class="select">
				<div class="select__value">October</div>
				<div class="select__icon"></div>
				<select name="" id="" class="select__real">
					<option value="">October</option>
				</select>
			</div>
		</div>
	</div>

	<!-- begin footer  -->
	<div class="footer">
		<div class="container">
			<div class="footer__cols">
				<!-- begin footer__col  -->
				<div class="footer__col">
					<h3>HOME</h3>
					<ul>
						<li><a href='#'>Timeline</a></li>
						<li><a href='#'>Analytics</a></li>
						<li><a href='#'>Product overview</a></li>
						<li><a href='#'>Press releases</a></li>
					</ul>
				</div>
				<!-- end footer__col -->
				<!-- begin footer__col  -->
				<div class="footer__col">
					<h3>HOME</h3>
					<ul>
						<li><a href='#'>Timeline</a></li>
						<li><a href='#'>Analytics</a></li>
						<li><a href='#'>Product overview</a></li>
						<li><a href='#'>Press releases</a></li>
					</ul>
				</div>
				<!-- end footer__col -->
				<!-- begin footer__col  -->
				<div class="footer__col">
					<h3>HOME</h3>
					<ul>
						<li><a href='#'>Timeline</a></li>
						<li><a href='#'>Analytics</a></li>
						<li><a href='#'>Product overview</a></li>
						<li><a href='#'>Press releases</a></li>
					</ul>
				</div>
				<!-- end footer__col -->
				<!-- begin footer__col  -->
				<div class="footer__col">
					<h3>HOME</h3>
					<ul>
						<li><a href='#'>Timeline</a></li>
						<li><a href='#'>Analytics</a></li>
						<li><a href='#'>Product overview</a></li>
						<li><a href='#'>Press releases</a></li>
					</ul>
				</div>
				<!-- end footer__col -->
				<!-- begin footer__col  -->
				<div class="footer__col">
					<h3>HOME</h3>
					<ul>
						<li><a href='#'>Timeline</a></li>
						<li><a href='#'>Analytics</a></li>
						<li><a href='#'>Product overview</a></li>
						<li><a href='#'>Press releases</a></li>
					</ul>
				</div>
				<!-- end footer__col -->
			</div>
			<!-- end cols -->

		</div>
		<!-- end container -->

		<!-- begin container  -->
		<div class="container">
			<div class="footer__about">
				SpacePlatforms is the leader of space exploration industry
			</div>
			<div class="footer__links">
				<a href="#">Space explorers code of honour</a>       
				<a href="#">Terms and conditions</a>
			</div>
		</div>
		<!-- end container -->
	</div>
	<!-- end footer -->

{% endblock %}
